{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block Aboutactive %} active {% endblock Aboutactive  %}

{% block body %}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .col-md-4 {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }

    .container {
        padding: 0 16px;
    }

    .container::after,
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .title {
        color: darkgoldenrod;
        font: outline;
        font-weight: 600;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        background-color: #555;
    }

    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
</style>
<div class="container my-2">
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <img src="{% static '/14.png' %}" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>jane@example.com</p>
                <p><button class="button"> <a href="https://www.instagram.com/11_vishrut/"> Contact </button></p>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <img src="{% static '/13.png' %}" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Vishrut Bhake</h2>
                <p class="title">Django developer</p>
                <p> BobbyBhake1@gmail.com </p>
                <p><button class="button"> <a href="https://www.instagram.com/11_vishrut/"> Contact </button></p>
                <a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <img src="{% static '/12.png' %}" alt="John" style="width:100%">
            <div class="container">
                <h2>heyitslorena</h2>
                <p class="title">Designer</p>
                <p>robles.lorena420@gmail.com</p>
                <p><button class="button"> <a href="https://www.instagram.com/heyyitslorena/">Contact</button></p>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}